body {
  background: slategrey;
  font-family: 'Product Sans', Ubuntu, Arial, sans-serif !important;
}
h1 {
  font-weight: normal;
  color: #fff;
  margin-top: 120px;
  text-align: center;
  font-size: 3em;
}
section {
  width: 455px;
  height: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -227.5px;
  margin-top: -190px;
}
.iceberg {
    position: relative;
    align-items: center;
    margin-left: 27%;
  animation: float 4s ease-in-out infinite;
}
.iceberg span {
    position: absolute;
    align-items: center;
    margin-left: 27%;
  animation: float2 4s ease-in-out infinite;
}
@-moz-keyframes float {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@-webkit-keyframes float {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@-o-keyframes float {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes float {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
@-moz-keyframes float2 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@-webkit-keyframes float2 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@-o-keyframes float2 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes float2 {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}
