a.open2 {
	color: rgba(0,0,0,.8);
	font-size: 18px;
	padding: 0px 20px;
	position: absolute;
	line-height: 80px;
	text-decoration: none;
	transition-property: box-shadow;
	transition-duration: 0.5s;
}

a.open2:hover {
	background: rgba(0,0,0,.8);
	border-bottom: inset 5px solid #fff;
	box-shadow: 0px 0px 10px 0px #000;
	color: #fff;
}

section.modalDialog {
	background-color: rgba(0,0,0,.5);
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0;
	position: fixed;
	z-index: -2;
}

section.modalDialog:target {
	opacity: 1;
}

a.close {
	background-color: #fff;
	border-radius: 5px;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	text-decoration: none;
	width: 28px;
}

a.close:hover {
	background-color: #414141
}

section.modal {
	background-color: #fff;
	box-shadow: 0px 0px 10px #414141;
	border-radius: 5px;
	color: #000;
	margin: 10% auto;
	padding: 20px;
	position: relative;
	width: 400px;
}

h2 {
	color: #000;
	font-size: 2em;
	margin-bottom: 10px;
}

p {
	color: #000;
	font-size: 1.2em;
}
/*sticky Scroll*/
.lol-fixed {
	position: fixed;
	z-index:1000;
    max-width:1000%;
    overflow: hidden;
    background: #8BC34A;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}