* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body {
	font-family: oswald, helvetica, arial, sans-serif;
	background:url(), #78909c;
	background-size: cover;
	background-attachment: fixed;
}

.contenedor {
	width:90%;
	max-width:1000%;
	margin:auto;
}
header .imagen { 
	width: 79px; 
	height: 79px; 
	border-radius: 79px; 
	background: url(../img/Pacme.jpg) no-repeat;
	float: left;
}
header .imagen2 { 
	width: 70px; 
	height: 70px; 
	border-radius: 70px; 
	background: url(../img/noun.png) no-repeat;
	float: left;
}
header {
	position: relative;
	height: auto;
}
header .menu {
	color: rgb(100%,0%,0%);
	overflow: hidden;
	box-shadow: 0px 1px 2px 0px #757575;
}
header .logo {
	color: rgba(0,0,0,.8);
	float: left;
	font-size: 30px;
	line-height: 70px;
}
header nav {
	float: right;
    margin: auto;
}
header nav ul {
	list-style: none;
}
header nav ul li {
	float: left;
}
header nav ul li a {
	color: rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size: 18px;
	padding: 5px 20px;
	line-height: 80px;
}
header nav ul li>ul li {
	color: rgba(0,0,0,.8);
	text-decoration: none;
	display: block;
	font-size: 18px;
	padding: 0 0;
	line-height: 80px;
}
header nav li ul {
	display: none;
	position: relative;
	min-width: 140px;
}
header li:hover > ul {
	display: block;
}
header nav li ul li {
	position: relative;
    top: 0px;
}
header nav ul li>ul li:hover {
	background: rgba(0,0,0,.8);
	border-bottom: inset 5px solid #fff;
}
header nav ul li:hover {
	box-shadow: 0px 0px 10px 0px #000;
	background-color: rgba(0,0,0,.8);
	transition-property: box-shadow;
	transition-duration: 0.5s;
	border-bottom: inset 5px solid #fff;
}
header nav ul li a:hover {
	color: #fff;
}
.texto {

	color: #fff;
	position: relative;
	padding: 50px 0;
	text-align: center;
	font-weight: 400;
}
.box, .texto h2, .texto p {
	background: url() #424242;
	display: inline-block;
	padding: 20px;
	box-shadow: 0px 1px 2px 0px #757575;
}
.texto h2 {
	padding: 20px;
	font-size: 40px;
	letter-spacing: 2.5px;
	font-weight: normal;
}
.texto p {
	font-size: 20px;
	letter-spacing: 2.5px;
}
.principal {
	position: relative;
	color: #000;
	border-radius: 5px;
}
.principal article {
	border-radius: 5px;
	padding: 20px;
	background: #fff;
	margin-bottom: 20px;
}
.principal article p {
	margin-bottom: 20px;
	line-height: 24px;
	font-family: helvetica, arial, sans-serif;
}
footer {
	width: 100%;
	text-decoration: none;
	list-style: none;
	display: block;
	text-align: center;
}
span {
	color: #fff;
}
.centrador {
	text-align: center;
}